extends ../layout

block styles
  link(rel='stylesheet', href='/stylesheets/user/profile.css')

block navigationMenu
  li 
    a(href='/users') Users
  li.active= targetUser.username

block logotext  

block content
  h3 
    | #{targetUser.username}'s profile
    a.btn.btn-default.btn-sm.pull-right(href="/users/profile/" + targetUser.username +"/settings")
      span.glyphicon.glyphicon-cog 
      | &nbsp;Settings

  if targetUser.avatar.length > 0
    img(src="/img/avatars/users/" + targetUser.avatar)#img-profile.img.pull-left
  else
    img(src="/img/avatars/default.png").img.img-responsive.pull-left
    
  .table-responsive
    table.table.user-info
      tr
        td Username 
        td #{targetUser.username}
      tr
        td First name 
        td #{targetUser.firstName}
      tr
        td Last name 
        td #{targetUser.firstName} #{targetUser.lastName}
      tr
        td Email 
        td #{targetUser.email}
      tr
        td Country 
        td #{targetUser.country}  
      tr
        td Time zone 
        td #{targetUser.timezone}
      tr 
        td role 
        td #{targetUser.role}
    
    .clearfix


