extends ../layout

block styles
  link(rel='stylesheet', href='/stylesheets/user/profile.css')

block navigationMenu
  li 
    a(href='/users') Users
  li.active= targetUser.username

block logotext  

block content
  h2 
    | #{targetUser.username}'s profile

  if targetUser.avatar.length > 0
    img(src="/img/avatars/users/" + targetUser.avatar).img.img-responsive.pull-left
  else
    img(src="/img/avatars/default.png").img.img-responsive.pull-left
    
  .table-responsive
    table.table.user-info
      tr
        td username 
        td #{targetUser.username}
        td 
          a.btn.btn-default.btn-sm.pull-right(type="button")
            span.glyphicon.glyphicon-edit
      tr
        td name 
        td #{targetUser.firstName} #{targetUser.lastName}
        td 
          a.btn.btn-default.btn-sm.pull-right(type="button")
            span.glyphicon.glyphicon-edit
      tr
        td email 
        td #{targetUser.email}
        td 
          a.btn.btn-default.btn-sm.pull-right(type="button")
            span.glyphicon.glyphicon-edit
      tr 
        td role 
        td(colspan="2") #{targetUser.role}


