extends ../layout

block styles
  link(rel='stylesheet', href='/stylesheets/user/settings.css')

block scripts
  script(src='/js/user/settings.js')

block navigationMenu
  li Users 
  li= targetUser.username
  li.active Settings

block content
  h3
    | #{user.username}'s profile settings
  form(action="/users/profile/" + targetUser.username + "/settings", method="POST", encType="multipart/form-data" data-toggle="validator")
    .row
      .col-xs-1.col-md-1
        a#settings-username-btn.btn.btn-default.btn-xs
          span.glyphicon.glyphicon-edit
      .col-xs-4.col-md-2
        label(for="settings-username-input") Username
      .col-xs-6.col-md-3.form-group.has-feedback
        span#settings-username-placeholder.show #{user.username}
        span#settings-username-form.hide
          input#settings-username-input.form-control(
            type="username"
            name="username"
            data-remote="/helpers/checkusername"
            maxlength="15"
            data-minlength="4"
            pattern="^[a-zA-Z0-9]*$"
            placeholder= "Provide new username") 
          span(aria-hidden="true").glyphicon.form-control-feedback
        .help-block.with-errors
    .row
      .col-xs-1.col-md-1
        a#settings-firstname-btn.btn.btn-default.btn-xs
          span.glyphicon.glyphicon-edit
      .col-xs-4.col-md-2
        label(for="settings-firstname-input") First name
      .col-xs-6.col-md-3.form-group.has-feedback
        span#settings-firstname-placeholder.show #{targetUser.firstName}
        span#settings-firstname-form.hide
          input#settings-firstname-input.form-control(
            type="text"
            name="firstname"
            maxlength="20"
            data-minlength="2"
            pattern="^[a-zA-Z]*$"
            placeholder= "Change first name")
          span(aria-hidden="true").glyphicon.form-control-feedback
        .help-block.with-errors
    .row
      .col-xs-1.col-md-1
        a#settings-lastname-btn.btn.btn-default.btn-xs
          span.glyphicon.glyphicon-edit
      .col-xs-4.col-md-2
        label(for="settings-lastname-input") Last name 
      .col-xs-6.col-md-3.form-group.has-feedback
        span#settings-lastname-placeholder.show #{targetUser.lastName}
        span#settings-lastname-form.hide
          input#settings-lastname-input.form-control(
            type="text"
            name="lastname"
            maxlength="20"
            data-minlength="2"
            pattern="^[a-zA-Z]*$"
            placeholder= "Change last name")
          span(aria-hidden="true").glyphicon.form-control-feedback
        .help-block.with-errors
    .row
      .col-xs-1.col-md-1
        a#settings-email-btn.btn.btn-default.btn-xs
          span.glyphicon.glyphicon-edit
      .col-xs-4.col-md-2
        label(for="settings-email-input") E-mail
      .col-xs-6.col-md-3.form-group.has-feedback
        span#settings-email-placeholder.show #{targetUser.email}
        span#settings-email-form.hide
          input#settings-email-input.form-control(
            type="text"
            name="email"
            maxlength="20"
            data-minlength="2"
            pattern="^[^@\s]+@[^@\s]+\.[^@\s]+$"
            placeholder= "Provide new e-mail"
            autocomplete="false")
          span(aria-hidden="true").glyphicon.form-control-feedback
        .help-block.with-errors
    .row
      .col-xs-1.col-md-1
        a#settings-password-btn.btn.btn-default.btn-xs
          span.glyphicon.glyphicon-edit
      .col-xs-4.col-md-2
        label(for="settings-password-input") Password
      .col-xs-6.col-md-3.form-group.has-feedback
        span#settings-password-placeholder.show
          input.form-control(
            type="password"
            name="password"
            maxlength="20"
            data-minlength="4"
            placeholder= "Change password")
          span(aria-hidden="true").glyphicon.form-control-feedback
          .help-block.with-errors
        span#settings-password-form.hide
          input#settings-password-input.form-control(
            type="password"
            name="passwordconfirm"
            data-match="#settings-password",
            data-match-error="Provided passwords don't match'"
            maxlength="20"
            data-minlength="4"
            placeholder="Confirm new password")
          span(aria-hidden="true").glyphicon.form-control-feedback
        .help-block.with-errors
    .row
      .col-md-12
        br
        button(type="submit").btn.btn-info Save all changes
