extends ../layout

block globals
  script.
    var config = !{JSON.stringify(config.users)}

block styles
  link(rel='stylesheet', href='/stylesheets/user/signup.css')

block scripts
  script(src='/js/user/signup.js')
  script(src='/lib/bootstrap-validator/dist/validator.js')

block navigationMenu
  li Users
  li.active Sign up

block logotext
  | Sign up

block content
  center
    form(action="/signup", method="POST", encType="multipart/form-data" data-toggle="validator").form-signup.form-horizontal
      div.form-group.has-feedback
        label(for="signup-username").control-label.col-md-4.col-sm-3.col-xs-12 Username:
        div.input-group.col-md-4.col-sm-6.col-xs-10
          input(
            data-remote="/helpers/checkusername",
            type="username",
            placeholder = "Username",
            maxlength=config.users.username.maxLength,
            data-minlength=config.users.username.minLength,
            data-minlength-error="Username must be atleast " + config.users.username.minLength + " symbols",
            pattern=config.users.username.regex,
            data-pattern-error=config.users.username.regexError,
            required,
            name="username",
            autofocus
            )#signup-username.form-control
          span(aria-hidden="true").glyphicon.form-control-feedback
          div.help-block.with-errors
      div.form-group.has-feedback
        label(for="signup-email").control-label.col-md-4.col-sm-3.col-xs-12 Email:
        div.input-group.col-md-4.col-sm-6.col-xs-10
          input(
            data-remote="/helpers/checkemail",
            type="email",
            pattern=config.users.email.regex,
            data-pattern-error="Please enter a valid email",
            placeholder="Email",
            required,
            name="email",
            )#signup-email.form-control
          span(aria-hidden="true").glyphicon.form-control-feedback
          div.help-block.with-errors
      div.form-group.has-feedback
        label(for="signup-firstname").control-label.col-md-4.col-sm-3.col-xs-12 First name:
        div.input-group.col-md-4.col-sm-6.col-xs-10
          input(
            type="text",
            maxlength=config.users.firstName.maxLength,
            data-minlength=config.users.firstName.minLength,
            data-minlength-error="First name must be atleast " + config.users.firstName.minLength + " letters",
            pattern="^[a-zA-Z]*$",
            placeholder="First name",
            required,
            name="firstname",
            data-pattern-error="Names can contain only letters"
            )#signup-firstname.form-control
          span(aria-hidden="true").glyphicon.form-control-feedback
          div.help-block.with-errors
      div.form-group.has-feedback
        label(for="signup-lastname").control-label.col-md-4.col-sm-3.col-xs-12 Last name:
        div.input-group.col-md-4.col-sm-6.col-xs-10
          input(
            type="text",
            maxlength=config.users.lastName.maxLength,
            data-minlength=config.users.lastName.minLength,
            data-minlength-error="Last name must be atleast " + config.users.lastName.minLength + " letters",
            pattern="^[a-zA-Z]*$",
            placeholder="Last name",
            required,
            name="lastname",
            data-pattern-error="Names can contain only letters"
            )#signup-lastname.form-control
          span(aria-hidden="true").glyphicon.form-control-feedback
          div.help-block.with-errors
        
      div.form-group.has-feedback
        label(for="signup-password").control-label.col-md-4.col-sm-3.col-xs-12 Password: 
        div.input-group.col-md-4.col-sm-6.col-xs-10
          input(
            type="password",
            maxlength=config.users.password.maxLength,
            data-minlength=config.users.password.minLength,
            data-minlength-error="Password must be atleast " + config.users.password.minLength + " symbols",
            placeholder = "Password",
            required,
            name="password"
            )#signup-password.form-control
          span(aria-hidden="true").glyphicon.form-control-feedback
          div.help-block.with-errors
      div.form-group.has-feedback
        div.col-md-4.col-sm-3.col-xs-12
        div.input-group.col-md-4.col-sm-6.col-xs-10
          input(
            type="password",
            maxlength=config.users.password.maxLength,
            data-minlength=config.users.password.minLength,
            data-minlength-error="Password must be atleast " + config.users.password.minLength + " symbols",
            placeholder = "Confirm password",
            required,
            name="passwordconfirm",
            data-match="#signup-password",
            data-match-error="Whoops, passwords don't match"
            )#signup-password-confirm.form-control
          span(aria-hidden="true").glyphicon.form-control-feedback
          div.help-block.with-errors
            //- input(type="password", placeholder = "Repeat password", required)#signup-password-repeat.form-control
      div.form-group#avatar
        label(for="signup-avatar").control-label.col-md-4.col-sm-3.col-xs-12 Avatar:
        div.input-group.col-md-4.col-sm-6.col-xs-10
          div.input-group
            label.input-group-btn
              span.btn.btn-default Browse... 
                input(type="file", style="display: none;", accept="image/*", name="avatar")
            input(
              type="text",
              readonly,
              placeholder="No avatar selected"
              )#avatar-text.form-control
          center
            div.avatar#avatar-preview
              img(src="/img/avatars/default.png")
      div.form-group
        label(for="signup-password").control-label.col-md-4.col-sm-3.col-xs-12 Country: 
        div.input-group.col-md-4.col-sm-6.col-xs-10
          select(
            required,
            name="country"
            )#country.form-control
            //- option(selected="selected", disabled)
            each country in countries
              if country === 'Bulgaria'
                option(selected)= country
              else
                option= country
          div.help-block.with-errors
      div.form-group
        label(for="signup-password").control-label.col-md-4.col-sm-3.col-xs-12 Time zone: 
        div.input-group.col-md-4.col-sm-6.col-xs-10
          select(
            required,
            name="timezone"
            )#timezone.form-control
            //- option(selected="selected", disabled)
            each timezone in timezones
              if timezone.pretty === 'GMT +03:00'
                option(value=timezone.zone, selected)= timezone.pretty
              else
                option(value=timezone.zone)= timezone.pretty
          div.help-block.with-errors
      div.form-group
        div.col-md-4.col-sm-3.col-xs-12
        button(type="submit").btn.btn-info Sign up
