extends ../layout

block styles
  link(rel='stylesheet', href='/stylesheets/forum/thread.css')
  link(rel='stylesheet', href='/stylesheets/forum/pagination.css')

block scripts
  script(src='/js/forums/new-post.js')
  script(src='/lib/bootstrap-validator/dist/validator.js')

block currentPageCategory
  -var selected = 'forums';

block navigationMenu
  li
    a(href='/forums/') Forums
  li
    a(href='/forums/'+ forum.internalName)= forum.name
  li.active= thread.title

block logotext
  | #{forum.name}

block content
  h2.thread-title= thread.title
  each post in posts
    -
      date = utils.dateFormat("D/M/YYYY", post.dateCreated)
      time = utils.dateFormat("HH:mm", post.dateCreated)
      
    div(id=post._id, class=post.original ? "original-post" : "").container-fluid.post-container
      div.sidebar.post-left-part
        div.avatar.post-avatar
          if post.author.avatar.length > 3
            img(src="/img/avatars/users/" + post.author.avatar)
          else
            img(src="/img/avatars/default.png")
        div.post-author-container
          div
            a(href="/users/profile/" + post.author.username).post-author-name= post.author.username
          div.post-author-title(class=(post.author.role === 'admin' ? "admin" : ""))= post.author.role.capitalize()
          div.post-author-posts= (post.author.posts ? post.author.posts.length : 0) + ' posts'
        span.pull-right.post-date.visible-sm.visible-xs &nbsp; #{date}
        span.pull-right.post-date.visible-sm.visible-xs= time
      div.post-right-part.container-fluid
        div.row.post-date.hidden-xs.hidden-sm= 'Posted on ' + date + ' at ' + time
        div.row.post-text!= utils.prepareThreadContent(post.content)
        
  div.row.forum-pagination
    div.pagination
      //- first page
      if currentPage > 3
        a(href='/forums/thread/' + thread._id + '/1').page-item 1
      //- previous page
      if currentPage > 4
        span.page-item ...
      //- page - 2
      if currentPage > 2
        a(href='/forums/thread/' + thread._id + '/' + (currentPage - 2)).page-item= currentPage - 2
      //- page - 1
      if currentPage > 1
        a(href='/forums/thread/' + thread._id + '/' + (currentPage - 1)).page-item= currentPage - 1
      //- current page
      if threadsCount > 0
        span.page-item.active= currentPage
      //- page + 1
      if totalPages > currentPage
        a(href='/forums/thread/' + thread._id + '/' + (currentPage + 1)).page-item= currentPage + 1
      //- page + 2
      if totalPages > currentPage + 1
        a(href='/forums/thread/' + thread._id + '/' + (currentPage + 2)).page-item= currentPage + 2
      //- next page
      if totalPages > currentPage + 3
        span.page-item ...
      //- last page
      if totalPages > currentPage + 2
        a(href='/forums/thread/' + thread._id + '/' + totalPages).page-item= totalPages
  if isLoggedIn
    h2#post-reply Post reply
    div.container-fluid.post-container.original-post
      div.sidebar.post-left-part
        div.avatar.post-avatar
          if user.avatar.length > 3
            img(src="/img/avatars/users/" + user.avatar)
          else
            img(src="/img/avatars/default.png")
        div.post-author-container
          div.post-author-name= user.username
          div.post-author-title(class=(user.role === 'admin' ? "admin" : ""))= user.role.capitalize()
          div.post-author-posts= (user.posts ? user.posts.length : 0) + ' posts'
      div.post-right-part.container-fluid
        div.row.new-post-content
          form(action='/forums/thread/' + thread._id +'/new-post', method='post', data-toggle="validator")
            div.form-group
              div.form-input
                textarea(
                  name='content',
                  data-minlength=config.forums.post.minLength,
                  data-minlength-error="Content must be atleast " + config.forums.post.minLength + " symbols",
                  maxlength=config.forums.post.maxLength,
                  required,
                  )#new-post-content.form-control
                div.help-block.with-errors
            div.form-group
              button(type="submit").btn.btn-reply-thread.pull-right#new-post-button POST REPLY
